		<?= $dialog_tabs_html ?>
		<div class='digiid_outer' id='<?= $unique_id ?>'>
			<div class='digiid' style='display:none'>
				<div class="digiid_qr_outer">
					<?= $title ?>
					<div class="digiid_qr">
						<a href='<?= $url ?>'><img alt='<?= $alt_text ?>' title='<?= $alt_text ?>'></a>
					</div>
					<p class="know-more">To know more: <a href="https://www.digi-id.io" target="__blank">digi-id.io</a></p>
				</div>
				<div class='digiid_progress_full'>
					<div class='digiid_progress_bar'>
					</div>
				</div>
			</div>
		</div>
		<div class='digiid_msg'></div>
